<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>pepack -f html 066.exe</title>
</head>
<body>
    <p><span class="key"><b>packer</b></span>: <span class="value">Microsoft Visual C++</span></p>
</body>
</html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>pesec -f html 066.exe</title>
</head>
<body>
    <p><span class="key"><b>ASLR</b></span>: <span class="value">no</span></p>
    <p><span class="key"><b>DEP/NX</b></span>: <span class="value">no</span></p>
    <p><span class="key"><b>SEH</b></span>: <span class="value">yes</span></p>
    <p><span class="key"><b>Stack cookies (EXPERIMENTAL)</b></span>: <span class="value">yes</span></p>
</body>
</html>
