<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>readpe -f html -h dos 066.exe</title>
</head>
<body>
    <div class="object">
        <h2>DOS Header</h2>
        <p><span class="key"><b>Magic number</b></span>: <span class="value">0x5a4d (MZ)</span></p>
        <p><span class="key"><b>Bytes in last page</b></span>: <span class="value">144</span></p>
        <p><span class="key"><b>Pages in file</b></span>: <span class="value">3</span></p>
        <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Size of header in paragraphs</b></span>: <span class="value">4</span></p>
        <p><span class="key"><b>Minimum extra paragraphs</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Maximum extra paragraphs</b></span>: <span class="value">65535</span></p>
        <p><span class="key"><b>Initial (relative) SS value</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Initial SP value</b></span>: <span class="value">0xb8</span></p>
        <p><span class="key"><b>Initial IP value</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Initial (relative) CS value</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Address of relocation table</b></span>: <span class="value">0x40</span></p>
        <p><span class="key"><b>Overlay number</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>OEM identifier</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>OEM information</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>PE header offset</b></span>: <span class="value">0xd0</span></p>
    </div>
</body>
</html>
