<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <link href="https://fonts.googleapis.com/css?family=Hi+Melody|Nanum+Pen+Script" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Press+Start+2P" rel="stylesheet">
                <title>사용방법</title>
                <style>
        div {
                font-family: 'Hi Melody', cursive;
                text-align: center;
                font-size : 40px;
                font-weight: bold;
                color : #5E8680;
        }
        figure {
                text-align : center;
        }

                </style>
        </head>
        <h3>
                <body>
                <figure id="1-1">
		<div>P4 웹 페이지 사용 방법</div>
                <table>
                        <tr>
                                <pre><td><img src="{{ url_for( 'static', filename='images/1.jpg' ) }}" alt="실행결과"><br>
 Main버튼 선택 결과</pre></td>
                                <td>
                                        <figure>
                                                <mark>Main버튼 선택 화면</mark> 입니다.
                                        </figure>
                                </td>
                        </tr>
                        <tr>
                                <pre><td><img src="{{ url_for( 'static', filename='images/2.jpg' ) }}" alt="실행결과"><br>
  파일 선택 후 예시</pre></td>
                                <td>
                                        <figure>
                                                ① 파일을 <mark>선택</mark>합니다.<br>
                                                ② <mark>제출</mark>을 눌러 파일을 <mark>제출</mark> 해주세요.
                                        </figure>
                                </td>
                        </tr>
                        <pre><td><img src="{{ url_for( 'static', filename='images/3.jpg' ) }}" alt="실행결과"><br>
         패커의 종류 선택 예시</pre></td>
                        <td>
                                <figure>
                                        ① 패커의 종류를 <mark>선택</mark> 하여 주세요. 패커의 종류는 총 <mark>3가지</mark> 입니다.<br>
                                        ② 다음은 <mark>Pack 버튼</mark>을 눌러 주세요.<br>
                                        ③ <mark>UnPack버튼</mark>으로 <mark>UnPack</mark> 할 수 있습니다.
                                </figure>
                        </td>
                        </tr>
                        <tr>
                                <pre><td><img src="{{ url_for( 'static', filename='images/4.jpg' ) }}" alt="실행결과"><br>
    하단의 진행상황 예시</pre></td>
                                <td>
                                        <figure>
                                                하단의 <mark>진행 상황</mark>으로 <mark>현재 진행 상황</mark>을 알수있습니다.
                                        </figure>
                                </td>
                        </tr>
                        <tr>
                                <pre><td><img src="{{ url_for( 'static', filename='images/5.jpg' ) }}" alt="실행결과"><br>
    프로텍터 종류 선택 예시</pre></td>
                                <td>
                                        <figure>
                                                ① <mark>프로텍터 종류 선택</mark> 하여 주세요. <mark>프로텍터</mark>의 종류는 총 <mark>3가지</mark> 입니다.<br>
                                                ② 다음은 <mark>Protect 버튼</mark>을 눌러 주세요.
                                        </figure>
                                </td>
                        </tr>
                        <tr>
                                <pre><td><img src="{{ url_for( 'static', filename='images/6.jpg' ) }}" alt="실행결과"><br>
     하단의 진행상황 예시</pre></td>
                                <td>
                                        <figure>
                                                하단의 <mark>진행 상황</mark>으로 <mark>현재 진행 상황</mark>을 알수있습니다.
                                        </figure>
                                </td>
                        </tr>
        </figure>
                </table>
                </body>
</html>
