<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>pehash -f html 08.exe</title>
</head>
<body>
    <div class="object">
        <h2>file</h2>
        <p><span class="key"><b>filepath</b></span>: <span class="value">08.exe</span></p>
        <p><span class="key"><b>md5</b></span>: <span class="value">571a8308b64015f7a19b4072d2ab4399</span></p>
        <p><span class="key"><b>sha1</b></span>: <span class="value">69c6cfb7cd923c1c6bccb0b2274cebaac360f4ac</span></p>
        <p><span class="key"><b>sha256</b></span>: <span class="value">14281f48a185eee8e2a319a0c7a3ea3a4e7b26056124ac0a6ea8c5ae35cc3619</span></p>
        <p><span class="key"><b>ssdeep</b></span>: <span class="value">1536:XDl14rQcWAkN7GAlqbkfAGQGV8aMbrNyrf1w+ZJBeBsCXKP0hzn6Av:XZmZWXyaiedMbrN6pZJUBs90hzn6A</span></p>
        <p><span class="key"><b>imphash</b></span>: <span class="value">116519947f9ad07c82fe051d285fc262</span></p>
    </div>
</body>
</html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>readpe -f html 08.exe</title>
</head>
<body>
    <div class="object">
        <h2>DOS Header</h2>
        <p><span class="key"><b>Magic number</b></span>: <span class="value">0x5a4d (MZ)</span></p>
        <p><span class="key"><b>Bytes in last page</b></span>: <span class="value">144</span></p>
        <p><span class="key"><b>Pages in file</b></span>: <span class="value">3</span></p>
        <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Size of header in paragraphs</b></span>: <span class="value">4</span></p>
        <p><span class="key"><b>Minimum extra paragraphs</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Maximum extra paragraphs</b></span>: <span class="value">65535</span></p>
        <p><span class="key"><b>Initial (relative) SS value</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Initial SP value</b></span>: <span class="value">0xb8</span></p>
        <p><span class="key"><b>Initial IP value</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Initial (relative) CS value</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Address of relocation table</b></span>: <span class="value">0x40</span></p>
        <p><span class="key"><b>Overlay number</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>OEM identifier</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>OEM information</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>PE header offset</b></span>: <span class="value">0xf0</span></p>
    </div>
    <div class="object">
        <h2>COFF/File header</h2>
        <p><span class="key"><b>Machine</b></span>: <span class="value">0x14c IMAGE_FILE_MACHINE_I386</span></p>
        <p><span class="key"><b>Number of sections</b></span>: <span class="value">3</span></p>
        <p><span class="key"><b>Date/time stamp</b></span>: <span class="value">998081552 (Fri, 17 Aug 2001 20:52:32 UTC)</span></p>
        <p><span class="key"><b>Symbol Table offset</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Number of symbols</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Size of optional header</b></span>: <span class="value">0xe0</span></p>
        <p><span class="key"><b>Characteristics</b></span>: <span class="value">0x10f</span></p>
        <div class="array">
            <h2>Characteristics names</h2>
            <ul>
                <li><span class="value">IMAGE_FILE_RELOCS_STRIPPED</span></li>
                <li><span class="value">IMAGE_FILE_EXECUTABLE_IMAGE</span></li>
                <li><span class="value">IMAGE_FILE_LINE_NUMS_STRIPPED</span></li>
                <li><span class="value">IMAGE_FILE_LOCAL_SYMS_STRIPPED</span></li>
                <li><span class="value">IMAGE_FILE_32BIT_MACHINE</span></li>
            </ul>
        </div>
    </div>
    <div class="object">
        <h2>Optional/Image header</h2>
        <p><span class="key"><b>Magic number</b></span>: <span class="value">0x10b (PE32)</span></p>
        <p><span class="key"><b>Linker major version</b></span>: <span class="value">7</span></p>
        <p><span class="key"><b>Linker minor version</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Size of .text section</b></span>: <span class="value">0x12800</span></p>
        <p><span class="key"><b>Size of .data section</b></span>: <span class="value">0x9400</span></p>
        <p><span class="key"><b>Size of .bss section</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Entrypoint</b></span>: <span class="value">0x12475</span></p>
        <p><span class="key"><b>Address of .text section</b></span>: <span class="value">0x1000</span></p>
        <p><span class="key"><b>Address of .data section</b></span>: <span class="value">0x14000</span></p>
        <p><span class="key"><b>ImageBase</b></span>: <span class="value">0x1000000</span></p>
        <p><span class="key"><b>Alignment of sections</b></span>: <span class="value">0x1000</span></p>
        <p><span class="key"><b>Alignment factor</b></span>: <span class="value">0x200</span></p>
        <p><span class="key"><b>Major version of required OS</b></span>: <span class="value">5</span></p>
        <p><span class="key"><b>Minor version of required OS</b></span>: <span class="value">1</span></p>
        <p><span class="key"><b>Major version of image</b></span>: <span class="value">5</span></p>
        <p><span class="key"><b>Minor version of image</b></span>: <span class="value">1</span></p>
        <p><span class="key"><b>Major version of subsystem</b></span>: <span class="value">4</span></p>
        <p><span class="key"><b>Minor version of subsystem</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Size of image</b></span>: <span class="value">0x1f000</span></p>
        <p><span class="key"><b>Size of headers</b></span>: <span class="value">0x1000</span></p>
        <p><span class="key"><b>Checksum</b></span>: <span class="value">0</span></p>
        <p><span class="key"><b>Subsystem required</b></span>: <span class="value">0x2 (IMAGE_SUBSYSTEM_WINDOWS_GUI)</span></p>
        <p><span class="key"><b>DLL characteristics</b></span>: <span class="value">0x8000</span></p>
        <div class="array">
            <h2>DLL characteristics names</h2>
            <ul>
                <li><span class="value">IMAGE_DLLCHARACTERISTICS_TERMINAL_SERVER_AWARE</span></li>
            </ul>
        </div>
        <p><span class="key"><b>Size of stack to reserve</b></span>: <span class="value">0x40000</span></p>
        <p><span class="key"><b>Size of stack to commit</b></span>: <span class="value">0x1000</span></p>
        <p><span class="key"><b>Size of heap space to reserve</b></span>: <span class="value">0x100000</span></p>
        <p><span class="key"><b>Size of heap space to commit</b></span>: <span class="value">0x1000</span></p>
    </div>
    <div class="array">
        <h2>Data directories</h2>
        <ul>
            <li class="object">
                <h2>Directory</h2>
                <p><span class="key"><b>IMAGE_DIRECTORY_ENTRY_IMPORT</b></span>: <span class="value">0x12b80 (140 bytes)</span></p>
            </li>
            <li class="object">
                <h2>Directory</h2>
                <p><span class="key"><b>IMAGE_DIRECTORY_ENTRY_RESOURCE</b></span>: <span class="value">0x16000 (35196 bytes)</span></p>
            </li>
        </ul>
    </div>
    <div class="array">
        <h2>Imported functions</h2>
        <ul>
            <li class="object">
                <h2>Library</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">KERNEL32.DLL</span></p>
                <div class="array">
                    <h2>Functions</h2>
                    <ul>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetModuleHandleA</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">LoadLibraryA</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetProcAddress</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GlobalCompact</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GlobalAlloc</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GlobalFree</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GlobalReAlloc</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">lstrcmpW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">Sleep</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">WriteProfileStringW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetStartupInfoA</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GlobalSize</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GlobalUnlock</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CreateEventW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CreateThread</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">ResetEvent</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">lstrcpynW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetEvent</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">WaitForSingleObject</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CloseHandle</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">lstrcatW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">lstrlenW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">LocalReAlloc</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">LocalFree</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">LocalAlloc</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetProfileStringW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GlobalLock</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetCommandLineW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">lstrcpyW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetProfileIntW</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Library</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">ADVAPI32.dll</span></p>
                <div class="array">
                    <h2>Functions</h2>
                    <ul>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">RegOpenKeyExA</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">RegQueryValueExA</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">RegCloseKey</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Library</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">GDI32.dll</span></p>
                <div class="array">
                    <h2>Functions</h2>
                    <ul>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetBkColor</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetTextColor</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetBkMode</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Library</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">msvcrt.dll</span></p>
                <div class="array">
                    <h2>Functions</h2>
                    <ul>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">__CxxFrameHandler</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_CxxThrowException</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">wcstoul</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">toupper</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">wcschr</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">memmove</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">wcslen</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_wcsrev</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_c_exit</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_exit</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_XcptFilter</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_cexit</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">exit</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_acmdln</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">__getmainargs</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_initterm</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">__setusermatherr</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_adjust_fdiv</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">__p__commode</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">__p__fmode</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">__set_app_type</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">??3@YAXPAX@Z</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">??1type_info@@UAE@XZ</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_controlfp</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">_except_handler3</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">?terminate@@YAXXZ</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Library</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">SHELL32.dll</span></p>
                <div class="array">
                    <h2>Functions</h2>
                    <ul>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">ShellAboutW</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Library</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">USER32.dll</span></p>
                <div class="array">
                    <h2>Functions</h2>
                    <ul>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetMenu</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetDlgItemInt</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetWindowTextW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CheckDlgButton</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">HideCaret</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CallWindowProcW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">DrawTextW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">WinHelpW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">PostQuitMessage</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetDlgCtrlID</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">ScreenToClient</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">ChildWindowFromPoint</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">DefWindowProcW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">IsClipboardFormatAvailable</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">EnableMenuItem</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">TrackPopupMenuEx</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetDesktopWindow</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">OpenClipboard</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetClipboardData</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CharNextA</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CloseClipboard</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetSysColor</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">DialogBoxParamW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">EndDialog</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">MessageBeep</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetSubMenu</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CheckRadioButton</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetWindowTextW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetFocus</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetCursor</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CharNextW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">RegisterClassExW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetSysColorBrush</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">LoadCursorW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">LoadIconW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">InvalidateRect</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">UpdateWindow</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">ShowWindow</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SendMessageW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetDlgItemTextW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CheckMenuItem</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CheckMenuRadioItem</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetWindowPos</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">OffsetRect</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">MapWindowPoints</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetClientRect</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">EnableWindow</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">LoadMenuW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetWindowLongW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetWindowLongW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CreateDialogParamW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetDlgItem</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">DestroyMenu</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">DestroyWindow</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetMenu</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetWindowRect</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SystemParametersInfoW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">DispatchMessageW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">TranslateMessage</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">TranslateAcceleratorW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">IsChild</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">IsDialogMessageW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetMessageW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">LoadAcceleratorsW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">CreateWindowExW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">MessageBoxW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">LoadStringW</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">SetProcessDefaultLayout</span></p>
                        </li>
                        <li class="object">
                            <h2>Function</h2>
                            <p><span class="key"><b>Name</b></span>: <span class="value">GetProcessDefaultLayout</span></p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="array">
        <h2>Sections</h2>
        <ul>
            <li class="object">
                <h2>Section</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">.text</span></p>
                <p><span class="key"><b>Virtual Address</b></span>: <span class="value">0x1000</span></p>
                <p><span class="key"><b>Physical Address</b></span>: <span class="value">0x126b0</span></p>
                <p><span class="key"><b>Size</b></span>: <span class="value">0x12800 (75776 bytes)</span></p>
                <p><span class="key"><b>Pointer To Data</b></span>: <span class="value">0x400</span></p>
                <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
                <p><span class="key"><b>Characteristics</b></span>: <span class="value">0x60000020</span></p>
                <div class="array">
                    <h2>Characteristic Names</h2>
                    <ul>
                        <li><span class="value">IMAGE_SCN_CNT_CODE</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_EXECUTE</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_READ</span></li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Section</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">.data</span></p>
                <p><span class="key"><b>Virtual Address</b></span>: <span class="value">0x14000</span></p>
                <p><span class="key"><b>Physical Address</b></span>: <span class="value">0x101c</span></p>
                <p><span class="key"><b>Size</b></span>: <span class="value">0xa00 (2560 bytes)</span></p>
                <p><span class="key"><b>Pointer To Data</b></span>: <span class="value">0x12c00</span></p>
                <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
                <p><span class="key"><b>Characteristics</b></span>: <span class="value">0xc0000040</span></p>
                <div class="array">
                    <h2>Characteristic Names</h2>
                    <ul>
                        <li><span class="value">IMAGE_SCN_CNT_INITIALIZED_DATA</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_READ</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_WRITE</span></li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Section</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">.rsrc</span></p>
                <p><span class="key"><b>Virtual Address</b></span>: <span class="value">0x16000</span></p>
                <p><span class="key"><b>Physical Address</b></span>: <span class="value">0x897c</span></p>
                <p><span class="key"><b>Size</b></span>: <span class="value">0x8a00 (35328 bytes)</span></p>
                <p><span class="key"><b>Pointer To Data</b></span>: <span class="value">0x13600</span></p>
                <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
                <p><span class="key"><b>Characteristics</b></span>: <span class="value">0x40000040</span></p>
                <div class="array">
                    <h2>Characteristic Names</h2>
                    <ul>
                        <li><span class="value">IMAGE_SCN_CNT_INITIALIZED_DATA</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_READ</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
