<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>pepack -f html rufus-3.4.exe</title>
</head>
<body>
    <p><span class="key"><b>packer</b></span>: <span class="value">no packer found</span></p>
</body>
</html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>pesec -f html rufus-3.4.exe</title>
</head>
<body>
    <p><span class="key"><b>ASLR</b></span>: <span class="value">no</span></p>
    <p><span class="key"><b>DEP/NX</b></span>: <span class="value">yes</span></p>
    <p><span class="key"><b>SEH</b></span>: <span class="value">yes</span></p>
    <p><span class="key"><b>Stack cookies (EXPERIMENTAL)</b></span>: <span class="value">yes</span></p>
    <div class="array">
        <h2>certificates</h2>
        <ul>
            <li class="object">
                <h2>certificate</h2>
                <p><span class="key"><b>Length</b></span>: <span class="value">7224 bytes</span></p>
                <p><span class="key"><b>Revision</b></span>: <span class="value">0x200 (2)</span></p>
                <p><span class="key"><b>Type</b></span>: <span class="value">0x2 (PKCS_SIGNED_DATA)</span></p>
                <p><span class="key"><b>Signature</b></span>: <span class="value">valid</span></p>
                <div class="array">
                    <h2>signers</h2>
                    <ul>
                        <li class="object">
                            <h2>signer</h2>
                            <p><span class="key"><b>Issuer</b></span>: <span class="value">Akeo Consulting</span></p>
                        </li>
                        <li class="object">
                            <h2>signer</h2>
                            <p><span class="key"><b>Issuer</b></span>: <span class="value">COMODO RSA Code Signing CA</span></p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
