<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>pehash -f html -s .rsrc 01.exe</title>
</head>
<body>
    <div class="array">
        <h2>sections</h2>
        <ul>
            <li class="object">
                <h2>section</h2>
                <p><span class="key"><b>section_name</b></span>: <span class="value">.rsrc</span></p>
                <p><span class="key"><b>md5</b></span>: <span class="value">cac327a5fef0226596cc516f7220a1e0</span></p>
                <p><span class="key"><b>sha1</b></span>: <span class="value">330f7cdb26e1f8979738fd670ec30364bd532d86</span></p>
                <p><span class="key"><b>sha256</b></span>: <span class="value">ce8cbc4cd8859072836f8d699e427b7b24aa60508fcdf05b4a81fc0601984f50</span></p>
                <p><span class="key"><b>ssdeep</b></span>: <span class="value">12:IEci3n6EclGYAeU80vhMsraUGiquhYoiN53ry0UsYFh5nMs8qYnqquYqHAH:F4K8Eh9mwhCNjFun98Fu/H</span></p>
            </li>
        </ul>
    </div>
</body>
</html>
