<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>readpe -f html -S UPX0 08.exe</title>
</head>
<body>
    <div class="array">
        <h2>Sections</h2>
        <ul>
            <li class="object">
                <h2>Section</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">UPX0</span></p>
                <p><span class="key"><b>Virtual Address</b></span>: <span class="value">0x1000</span></p>
                <p><span class="key"><b>Physical Address</b></span>: <span class="value">0x19000</span></p>
                <p><span class="key"><b>Size</b></span>: <span class="value">0 (0 bytes)</span></p>
                <p><span class="key"><b>Pointer To Data</b></span>: <span class="value">0x400</span></p>
                <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
                <p><span class="key"><b>Characteristics</b></span>: <span class="value">0xe0000080</span></p>
                <div class="array">
                    <h2>Characteristic Names</h2>
                    <ul>
                        <li><span class="value">IMAGE_SCN_CNT_UNINITIALIZED_DATA</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_EXECUTE</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_READ</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_WRITE</span></li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Section</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">UPX1</span></p>
                <p><span class="key"><b>Virtual Address</b></span>: <span class="value">0x1a000</span></p>
                <p><span class="key"><b>Physical Address</b></span>: <span class="value">0x7000</span></p>
                <p><span class="key"><b>Size</b></span>: <span class="value">0x6e00 (28160 bytes)</span></p>
                <p><span class="key"><b>Pointer To Data</b></span>: <span class="value">0x400</span></p>
                <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
                <p><span class="key"><b>Characteristics</b></span>: <span class="value">0xe0000040</span></p>
                <div class="array">
                    <h2>Characteristic Names</h2>
                    <ul>
                        <li><span class="value">IMAGE_SCN_CNT_INITIALIZED_DATA</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_EXECUTE</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_READ</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_WRITE</span></li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Section</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">.rsrc</span></p>
                <p><span class="key"><b>Virtual Address</b></span>: <span class="value">0x21000</span></p>
                <p><span class="key"><b>Physical Address</b></span>: <span class="value">0x7000</span></p>
                <p><span class="key"><b>Size</b></span>: <span class="value">0x6a00 (27136 bytes)</span></p>
                <p><span class="key"><b>Pointer To Data</b></span>: <span class="value">0x7200</span></p>
                <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
                <p><span class="key"><b>Characteristics</b></span>: <span class="value">0xc0000040</span></p>
                <div class="array">
                    <h2>Characteristic Names</h2>
                    <ul>
                        <li><span class="value">IMAGE_SCN_CNT_INITIALIZED_DATA</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_READ</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_WRITE</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
