<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>pehash -f html -s .rsrc 08.exe</title>
</head>
<body>
    <div class="array">
        <h2>sections</h2>
        <ul>
            <li class="object">
                <h2>section</h2>
                <p><span class="key"><b>section_name</b></span>: <span class="value">.rsrc</span></p>
                <p><span class="key"><b>md5</b></span>: <span class="value">518382b83d9c350ad2e14a5f0e158f5c</span></p>
                <p><span class="key"><b>sha1</b></span>: <span class="value">5e2963f99f7a1750959354ef0c1cdeefbd0f4b1c</span></p>
                <p><span class="key"><b>sha256</b></span>: <span class="value">21ca126ddd84b07889e97fc8ca8d5677388c2528cb764106892f7f756441e191</span></p>
                <p><span class="key"><b>ssdeep</b></span>: <span class="value">384:lSvQIWENqNKfQNFsCw6Y7ss5x72kGt3CiYc1zn6NCmWbDIU:8eBvsCXKtZ0Cazn60/v</span></p>
            </li>
        </ul>
    </div>
</body>
</html>
