<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>readpe -f html -S .rsrc 08.exe</title>
</head>
<body>
    <div class="array">
        <h2>Sections</h2>
        <ul>
            <li class="object">
                <h2>Section</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">.text</span></p>
                <p><span class="key"><b>Virtual Address</b></span>: <span class="value">0x1000</span></p>
                <p><span class="key"><b>Physical Address</b></span>: <span class="value">0x126b0</span></p>
                <p><span class="key"><b>Size</b></span>: <span class="value">0x12800 (75776 bytes)</span></p>
                <p><span class="key"><b>Pointer To Data</b></span>: <span class="value">0x400</span></p>
                <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
                <p><span class="key"><b>Characteristics</b></span>: <span class="value">0x60000020</span></p>
                <div class="array">
                    <h2>Characteristic Names</h2>
                    <ul>
                        <li><span class="value">IMAGE_SCN_CNT_CODE</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_EXECUTE</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_READ</span></li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Section</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">.data</span></p>
                <p><span class="key"><b>Virtual Address</b></span>: <span class="value">0x14000</span></p>
                <p><span class="key"><b>Physical Address</b></span>: <span class="value">0x101c</span></p>
                <p><span class="key"><b>Size</b></span>: <span class="value">0xa00 (2560 bytes)</span></p>
                <p><span class="key"><b>Pointer To Data</b></span>: <span class="value">0x12c00</span></p>
                <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
                <p><span class="key"><b>Characteristics</b></span>: <span class="value">0xc0000040</span></p>
                <div class="array">
                    <h2>Characteristic Names</h2>
                    <ul>
                        <li><span class="value">IMAGE_SCN_CNT_INITIALIZED_DATA</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_READ</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_WRITE</span></li>
                    </ul>
                </div>
            </li>
            <li class="object">
                <h2>Section</h2>
                <p><span class="key"><b>Name</b></span>: <span class="value">.rsrc</span></p>
                <p><span class="key"><b>Virtual Address</b></span>: <span class="value">0x16000</span></p>
                <p><span class="key"><b>Physical Address</b></span>: <span class="value">0x897c</span></p>
                <p><span class="key"><b>Size</b></span>: <span class="value">0x8a00 (35328 bytes)</span></p>
                <p><span class="key"><b>Pointer To Data</b></span>: <span class="value">0x13600</span></p>
                <p><span class="key"><b>Relocations</b></span>: <span class="value">0</span></p>
                <p><span class="key"><b>Characteristics</b></span>: <span class="value">0x40000040</span></p>
                <div class="array">
                    <h2>Characteristic Names</h2>
                    <ul>
                        <li><span class="value">IMAGE_SCN_CNT_INITIALIZED_DATA</span></li>
                        <li><span class="value">IMAGE_SCN_MEM_READ</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
