<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>pehash -f html -s .rsrc astxsetup.exe</title>
</head>
<body>
    <div class="array">
        <h2>sections</h2>
        <ul>
            <li class="object">
                <h2>section</h2>
                <p><span class="key"><b>section_name</b></span>: <span class="value">.rsrc</span></p>
                <p><span class="key"><b>md5</b></span>: <span class="value">c115df9441c43979ded82339a6ed8b8f</span></p>
                <p><span class="key"><b>sha1</b></span>: <span class="value">cc252c8e05b1823044324bca03d3399cabfff042</span></p>
                <p><span class="key"><b>sha256</b></span>: <span class="value">6ec98c1ec2df83f28a7881676c88b5eed9cefed826610ebf27f2ed0f51097fd6</span></p>
                <p><span class="key"><b>ssdeep</b></span>: <span class="value">1536:Y+qkL4kE5ReUwk0fws0W1jBRJmn/kPhz/RXo83wc553K8mZhkGuTIchORe1/z3p:TqkkneUjgV1TJm/grNp556HsG6t7Bp</span></p>
            </li>
        </ul>
    </div>
</body>
</html>
