
<!DOCTYPE html>
<html>

<head>
          <title>Crack Protector</title>
  </head>
  <frameset border="1" rows="15%, 85%"noresize >
          <frame src='{{src1}}' scrolling="no"> </frame>

  <frameset border="5" cols="45%, 55%"noresize scrolling="yes">
    <frameset border="5" rows="50%, 50%"noresize scrolling="yes">
            <frame src='{{src2}}'> </frame>
   <frame src="peinfo.html"></frame>
    </frameset>
 <frame src="peviewer.html"> </frame>


  </frameset>
   </frameset>

    <body>
    </body>

</html>

