<!DOCTYPE html>
<html>
        <head>
                <title>Crack Protector</title>
                <meta charset="utf-8">
        </head>
        <frameset bordercolor=#3f1b5e border=2px cols="40%, 60%" noresize scrolling="AUTO">
		<frameset bordercolor=#3f1b5e border=2px; rows="50%, 50%" noresize scrolling="AUTO">
                        <frame src= '{{src1}}' name='pack'> </frame>
                        <frame src= '{{src2}}' name='peinfo'></frame>
		</frameset>
                <frame src='{{src3}}' name='peview'> </frame>
        </frameset>



        <body>
        </body>
</html>
